In [ ]:
import pandas as pd
import datetime

df_accidents = pd.read_csv('dft-road-casualty-statistics-accident-2019.csv', low_memory=False)
df_casualty = pd.read_csv('dft-road-casualty-statistics-casualty-2019.csv', low_memory=False)
df_vehicle = pd.read_csv('dft-road-casualty-statistics-vehicle-2019.csv', low_memory=False)

df_accidents['time'] = pd.to_datetime(df_accidents['time'], infer_datetime_format=True)
df_accidents['time'] = df_accidents['time'].dt.time

df_accidents['date'] = pd.to_datetime(df_accidents['date'], infer_datetime_format=True)
df_accidents['date'] = df_accidents['date'].dt.date

df_accidents.sort_value(df_accidents['date'])

In [8]:
df_accidents['date']

0         2019-02-18
1         2019-01-15
2         2019-01-01
3         2019-01-01
4         2019-01-01
             ...
117531    2019-05-18
117532    2019-05-30
117533    2019-06-21
117534    2019-06-29
117535    2019-04-21
Name: date, Length: 117536, dtype: object

In [10]:
df_casualty.isna().any()

accident_index                        False
accident_year                         False
accident_reference                    False
vehicle_reference                     False
casualty_reference                    False
casualty_class                        False
sex_of_casualty                       False
age_of_casualty                       False
age_band_of_casualty                  False
casualty_severity                     False
pedestrian_location                   False
pedestrian_movement                   False
car_passenger                         False
bus_or_coach_passenger                False
pedestrian_road_maintenance_worker    False
casualty_type                         False
casualty_home_area_type               False
casualty_imd_decile                   False
dtype: bool

In [11]:
df_vehicle.isna().any()

accident_index                      False
accident_year                       False
accident_reference                  False
vehicle_reference                   False
vehicle_type                        False
towing_and_articulation             False
vehicle_manoeuvre                   False
vehicle_direction_from              False
vehicle_direction_to                False
vehicle_location_restricted_lane    False
junction_location                   False
skidding_and_overturning            False
hit_object_in_carriageway           False
vehicle_leaving_carriageway         False
hit_object_off_carriageway          False
first_point_of_impact               False
vehicle_left_hand_drive             False
journey_purpose_of_driver           False
sex_of_driver                       False
age_of_driver                       False
age_band_of_driver                  False
engine_capacity_cc                  False
propulsion_code                     False
age_of_vehicle                      False
generic_make_model                  False
driver_imd_decile                   False
driver_home_area_type               False
dtype: bool

In [37]:
df_accidents['time'][date:date2]

0         17:50:00
1         21:45:00
2         01:50:00
3         01:20:00
4         00:40:00
            ...
117531    01:00:00
117532    08:46:00
117533    15:30:00
117534    14:10:00
117535    12:45:00
Name: time, Length: 117536, dtype: object

In [ ]:
df_accidents['time']

In [42]:
x = datetime.datetime.now()

In [50]:
x.date()

datetime.date(2023, 1, 31)

In [51]:
x + datetime.timedelta(days=10)

datetime.datetime(2023, 2, 10, 11, 49, 26, 467407)

In [53]:
df_accidents['date'].value_counts()

04/12/2019    495
29/11/2019    477
20/09/2019    466
08/11/2019    448
20/12/2019    448
             ...
13/01/2019    176
28/12/2019    174
29/12/2019    163
25/12/2019    138
26/12/2019    137
Name: date, Length: 365, dtype: int64